
.wrap-all {
    width: min-content;
    margin: 0 auto;
    position: relative;
}
canvas {
    /* border: solid #dadada 1px; */
    background-color: rgba(250, 250, 250, 0.527);
    margin: 0 auto;
    /* width: 680px; */
}

.content-butt {
    position: absolute;
    bottom: 0;
}

.center-all {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.butt {
    /* margin: 5px; */
    font-size: 40px;
    color: rgb(122, 122, 122);
    width: 27px;
    height: 27px;
    border: none;
    /* background-color: rgb(243, 218, 149); */
    user-select: none;
}

.push-butt {
    margin: 5px;
    font-size: 15px;
    width: 27px;
    height: 27px;
    border: none;
    user-select: none;
}