
.wrap-all {
    width: 100%;
}
canvas {
    border: solid #dadada 1px;
    margin: 0 auto;
    /* width: 680px; */
}

.center-all {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.butt {
    margin: 5px;
    font-size: 30px;
    width: 100px;
    border: none;
    background-color: rgb(243, 218, 149);
    user-select: none;
}