@import url('https://fonts.googleapis.com/css?family=Assistant');

html,
body {
    direction: rtl;
    font-family: 'Assistant', sans-serif;
}

.icon {
    width: 33%;
}

.icon img {
    width: 50%;
}

.menu {
    width: 33%;
}

.hamburger {
    width: 35px;
}

.hamburger div {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

.hamburger-plant {
    width: 26px;
    position: absolute;
    top: 1%
}

.hamburger-plant div {
    width: 26px;
    height: 4px;
    background-color: #1b1b1b57;
    margin: 4px 0;
    border-radius: 5px;
}

.butt-add-plant {
    background-color: #bbda6a;
    padding: 2% 5%;
    border-radius: 25px;
    box-shadow: 2px 2px 20px #bbbbbb;
    font-weight: bold;
    font-size: 5vw;
    width: 36%;
    text-align: center
}

.boxPlant {
    width: 30%;
    height: 95px;
    background-color: #ffd5d554;
    background-image: url(../img/asset1.png);
    opacity: 0.8;
    background-size: cover;
    margin: 1%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 8px 0px #000000cf;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    color: black;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.582);
    width: 89%;
    display: flex;
    align-items: center;
    padding: 5px 2px;
    cursor: pointer;
    font-size: 2.7vw;
    border-radius: 6px;
}

.boxPlant img {
    width: 100%;
    position: absolute;
    z-index: -1;
}

.boxPlant input {
    width: 92px;
    background-color: #ffa3a387;
    border:none;
    outline: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.boxPlant input::placeholder {
    color: rgb(0, 0, 0);
    font-weight: bold;
}

/* The Modal (background) */
.displayModal {
    display: none
}

.modal-m {
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.562);
}

/* Modal Content */
.modal-content-m {
    position: relative;
    margin: auto;
    padding: 0;
    width: 100%;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
    from {
        transform: scale(0);
        opacity: 0
    }

    to {
        transform: scale(1);
        opacity: 1
    }
}

.modal-body-m {
    padding: 2px 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.box-icon-select {
    position: relative;
    width: 22%;
    height: 73px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center
}

.box-icon-select img {
    width: 100%;
    position: absolute;
    right: 0px;
    bottom: 0%;
    z-index: -1;
}

.box-icon-select p {
    width: 100%;
    /* font-weight: bold; */
    align-self: flex-start;
    margin: 0px;
    color: #fff
}

.box-icon-select input {
    width: 100%;
    height: 30px;
    border: none;
    background-color: #ffa3a387;
    border-radius: 7px;
    font-size: 3.8vw;
    padding: 5%;
    font-weight: bold;
    outline: none
}

.days {
    width: 100%;
    height: 30px;
    background-color: #ffa3a387;
    border-radius: 7px;
    font-size: 2.3vw;
    padding: 5%;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.days .dey-scroll{
    width: 100%;
    height: 100%;
    display: flex;
    /* align-items: center; */
    overflow-x: auto;
}

.days .dey-select {
    width: 100%;
    font-size: 3.8vw;
}

.days .dey-select div{
    width: 100%;
    text-align: center;
    /* border-top: solid rgb(131, 131, 131) 0.5px; */
    border-bottom: solid rgb(131, 131, 131) 0.5px;  
}
.days .dey-select div:nth-child(1){
   
    border-top: solid rgb(131, 131, 131) 0.5px;
    
}

.select-day {
    display: none;
    position: absolute;
    width: 100%;
    top: 98%;
    background-color: #ffa3a387;
    z-index: 1;
    
}

::placeholder {
    color: rgb(37, 37, 37);
}